@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
  --light-colour: #f2f2f2;
  --dark-colour: #1e1e1e;
  --colour-one: #c7bee6;
  --colour-two: #f6e5a2;
  --colour-three: #90d0b6;
  --colour-four: #89bbe0;
  --colour-five: #f59597;
  --colour-six: #fbbe7d;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* --------------------------------------------------- General --------------------------------------------------- */

html {
  box-sizing: border-box;
  color: var(--light-colour);
}

body {
  background-color: var(--dark-colour);
  line-height: 1.6;
  background-image: url(/images/chalkboard.jpg);
  font-family: "Play", sans-serif;
}

.container {
  max-width: 1250px;
  padding: 0 0;
  margin: 50px auto;
}

.card {
  background-color: #282828;
  border-radius: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.section {
  transition: transform 1.5s, opacity 2s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(10rem);
}

h2 {
  font-size: 3rem;
}

/* --------------------------------------------------- Header Section --------------------------------------------------- */

.navbar {
  align-items: center;
  z-index: 100;
}

.navbar.sticky {
  width: fit-content;
  left: 15%;
  position: fixed;
  animation: appear 1.5s;
}

.nav-links {
  display: flex;
}

.nav-links.side {
  display: grid;
  gap: 25px;
}

.nav-links a {
  padding: 0 25px;
  color: var(--light-colour);
  font-size: 20px;
}

.nav-links a:hover {
  padding-bottom: 15px;
  border-bottom: 2px solid var(--light-colour);
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  flex: 1;
  display: grid;
  gap: 10px;
  align-content: center;
  justify-content: center;
}

#header-title-1 {
  font-size: 1.75em;
  width: max-content;
  padding: 5px 5px;
  border-bottom: 3px solid var(--colour-two);
}

#header-title-2 {
  font-size: 2.6em;
  width: max-content;
  padding: 5px 5px;
  border-bottom: 3px solid var(--colour-one);
}

#header-title-3 {
  font-size: 1.25em;
  width: max-content;
  padding: 5px 5px;
  border-bottom: 3px solid var(--colour-five);
}

/* Header title 1 animation*/
#header-title-1 {
  position: relative;
}

#header-title-1::before,
#header-title-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
}

#header-title-1::before {
  background-color: var(--colour-two);
  animation: reveal 2s ease forwards;
}

/* Header title 2 animation*/
#header-title-2 {
  position: relative;
}

#header-title-2::before,
#header-title-2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
}

#header-title-2::before {
  background-color: var(--colour-one);
  animation: reveal 2.5s ease 3s forwards;
}

/* Header title 3 animation*/
#header-title-3 {
  position: relative;
}

#header-title-3::before,
#header-title-3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
}

#header-title-3::before {
  background-color: var(--colour-five);
  animation: reveal 2.5s ease 5.5s forwards;
}

/* --------------------------------------------------- Work Section --------------------------------------------------- */
.work {
  display: grid;
  grid-template-rows: 10% 30% 60%;
  height: 600px;
  padding: 0 15px;
  margin-bottom: 100px;
  font-size: 1.5em;
  border: 3px solid var(--colour-four);
  box-shadow: 0 0 20px var(--colour-four);
}

.work__btn-container {
  display: grid;
  gap: 50px;
  align-content: center;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
}

.btn {
  padding: 0.5em 1em;
  margin-bottom: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--light-colour);
  border: var(--light-colour) 0.125em solid;
  background-color: var(--dark-colour);
  border-radius: 2em;
  text-decoration: none;
  position: relative;
}

.work__tab--active {
  color: var(--colour-four);
  border: var(--colour-four) 0.125em solid;
  text-shadow: 0 0 0.75em var(--colour-four);
  box-shadow: inset 0 0 1em 0 var(--colour-four), 0 0 1em 0 var(--colour-four);
}

.work__tab--active::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--colour-four);
  top: 120%;
  left: 0;
  width: 90%;
  height: 100%;

  transform: perspective(1.5em) rotateX(40deg) scale(1.25, 0.45);
  filter: blur(1.75em);
}

.btn:hover,
.btn:focus {
  border: var(--colour-four) 0.125em solid;
  text-shadow: 0 0 0.75em var(--colour-four);
  box-shadow: inset 0 0 1em 0 var(--colour-four), 0 0 1em 0 var(--colour-four);
}

.work__header {
  font-size: 1.5em;
}

.work__content {
  display: none;
}

.work__content--active {
  display: grid;
  gap: 30px;
  grid-template-rows: 15% auto;
}

/* --------------------------------------------------- About Section --------------------------------------------------- */
.about {
  display: grid;
  grid-template-rows: 20% auto;
  height: 600px;
  padding: 0 15px;
  margin-top: 100px;
  font-size: 1.5em;
  border: 3px solid var(--colour-three);
  box-shadow: 0 0 20px var(--colour-three);
}

.about a {
  color: var(--light-colour);
}

.about a:hover {
  color: var(--colour-three);
}

/* --------------------------------------------------- Footer --------------------------------------------------- */
.footer {
  display: flex;
  align-items: center;
}

.social a {
  font-size: 1.25em;
}

.footer i {
  border-radius: 50%;
  padding: 30px;
  color: wheat;
}

.footer i:hover {
  animation: moveUp 500ms ease forwards;
}

.social .ig:hover {
  background-color: #e1306c;
  transition: 0.75s linear;
}

.social .tw:hover {
  background-color: #46c1f6;
  transition: 0.75s linear;
}

.social .li:hover {
  background-color: #0a66c2;
  transition: 0.75s linear;
}

.social .gh:hover {
  background-color: #333333;
  transition: 0.75s linear;
}

/* --------------------------------------------------- Animations --------------------------------------------------- */
@keyframes reveal {
  to {
    left: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes leftToRight {
  from {
    left: 0;
  }
  to {
    right: 100%;
  }
}
