@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
  --light-colour: #f2f2f2;
  --dark-colour: #1e1e1e;
  --colour-one: #c7bee6;
  --colour-two: #f6e5a2;
  --colour-three: #90d0b6;
  --colour-four: #89bbe0;
  --colour-five: #f59597;
  --colour-six: #fbbe7d;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* General */

html {
  box-sizing: border-box;
  color: var(--light-colour);
}

body {
  background-color: var(--dark-colour);
  line-height: 1.6;
  background-image: url(/images/chalkboard.jpg);
  font-family: "Play", sans-serif;
}

.container {
  max-width: 1250px;
  padding: 0 0;
  margin: 50px auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Header */

.navbar {
  align-items: center;
  z-index: 100;
}

.navbar.sticky {
  width: 70%;
  position: fixed;
}

.nav-links {
  display: flex;
}

.nav-links.side {
  display: grid;
  gap: 25px;
}

.nav-links a {
  padding: 0 25px;
  color: var(--light-colour);
  font-size: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  flex: 1;
  display: grid;
  gap: 10px;
  align-content: center;
  justify-content: center;
}

#header-title-1 {
  font-size: 1.75em;
  width: max-content;
  padding: 5px 5px;
  border-bottom: 3px solid var(--colour-two);
}

#header-title-2 {
  font-size: 2.6em;
  width: max-content;
  padding: 5px 5px;
  border-bottom: 3px solid var(--colour-one);
}

#header-title-3 {
  font-size: 1.25em;
  width: max-content;
  padding: 5px 5px;
  border-bottom: 3px solid var(--colour-five);
}

/* Header title 1 animation*/
#header-title-1 {
  position: relative;
}

#header-title-1::before,
#header-title-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
}

#header-title-1::before {
  background-color: var(--colour-two);
  animation: reveal 2s ease forwards;
}

/* Header title 2 animation*/
#header-title-2 {
  position: relative;
}

#header-title-2::before,
#header-title-2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
}

#header-title-2::before {
  background-color: var(--colour-one);
  animation: reveal 2.5s ease 3s forwards;
}

/* Header title 3 animation*/
#header-title-3 {
  position: relative;
}

#header-title-3::before,
#header-title-3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
}

#header-title-3::before {
  background-color: var(--colour-five);
  animation: reveal 2.5s ease 5.5s forwards;
}

/* Work */
.work {
  display: grid;
  height: 600px;
  padding: 0 15px;
  font-size: 1.5em;
  border-left: 5px solid var(--colour-four);
}

/* About */
.about {
  display: grid;
  height: 600px;
  padding: 0 15px;
  font-size: 1.5em;
  border-left: 5px solid var(--colour-three);
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
}

.social a {
  padding: 0 25px;
  color: var(--light-colour);
}

/* Animations*/
@keyframes reveal {
  to {
    left: 100%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--colour-six);
  }
}
